@model EnergyPerformance.Models.HomeViewModel

<table class="table table-striped" id="tblPublicBuilding">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Address</th>
            <th scope="col">Post Town</th>
            <th scope="col">Local Authority</th>
            <th scope="col">Post code</th>
            <th scope="col">Building Form</th>
            <th scope="col">Property Type</th>
            <th scopr="col"></th>
            <th scopr="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model.PublicBuildings.Select((v, i) => new { index = i + 1, v }))
        {
            <tr>
                <th scope="row">@d.index</th>
                <td>@d.v.Address</td>
                <td>@d.v.PostTown</td>
                <td>@d.v.LocalAuthorityLabel</td>
                <td>@d.v.PostCode</td>
                <td>@d.v.BuiltForm</td>
                <td>@d.v.PropertyType</td>
                <td><button type="button" class="btn btn-primary" onClick="onViewDetails('@d.v.LmkKey')">View</button></td>
                <td><button type="button" class="btn btn-primary" onClick="onViewRecommendations('@d.v.LmkKey')">Recommendation</button></td>
            </tr>
        }
    </tbody>
</table>